/* Estilos para la tabla */
.table {
    margin-top: 15px;
    width: 90%;
    max-width: 1350px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    margin-bottom: 20px;
}

/* Estilos para los encabezados de tabla */
.header {
    background-color: #9B7EBD;
    color: #3B1E54;
}

.th, .td {
    padding: 10px;
    text-align: center;
    border: 1px solid #3B1E54;
}

/* Estilos de filas */
.row {
    transition: all 0.3s ease;
}

.row:hover {
    background-color: #D4BEE4;
    transform: scale(1.05);
}

/* Títulos */
.title {
    border-radius: 5px;
    margin-top: 20px;
    font-size: 24px;
    color: #EEEEEE;
    margin-bottom: 0;
    text-align: center;
    background-color: #3B1E54;
    padding: 10px;
}

/* Select de país */
.selectPais {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #3B1E54;
    background-color: #EEEEEE;
    color: #3B1E54;
    margin-top: 10px;
    box-sizing: border-box;
}

.selectPais:focus {
    outline: none;
    border-color: #9B7EBD;
}

/* Barra de búsqueda */
.barraBusqueda {
    margin-bottom: 20px;
}

.inputBusqueda {
    background-color: #EEEEEE;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #3B1E54;
    margin-top: 10px;
    box-sizing: border-box;
}

/* Contenedor de búsqueda */
.searchContainer {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    background-color: #D5C9E0;
    border-radius: 20px;
    padding: 15px;
    margin-top: 80px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
}

/* Texto de carga */
.loadingText {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Botón "Ver todas" */
.verTodasButton {
    background-color: #EEEEEE;
    color: #341B54;
    margin-top: 0;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}
  
.verTodasButton:hover {
    background-color: #341B54;
    color: #EEEEEE;
    transform: scale(1.10);
}

/* Contenedor del cuerpo */
.bodyContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

/* MEDIA QUERIES */

/* Para pantallas pequeñas (dispositivos móviles) */
@media (max-width: 767px) {
    /* Estilos de la tabla */
    .table {
        width: 100%;
        margin-top: 10px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .th, .td {
        font-size: 14px;
        padding: 8px;
    }

    .title {
        font-size: 20px;
    }

    /* Estilos de la barra de búsqueda */
    .inputBusqueda, .selectPais {
        font-size: 14px;
    }

    /* Estilos del contenedor de búsqueda */
    .searchContainer {
        padding: 10px;
        margin-top: 50px;
    }

    /* Botón "Ver todas" */
    .verTodasButton {
        font-size: 14px;
        padding: 8px;
    }
}

/* Para pantallas medianas (tabletas) */
@media (min-width: 768px) and (max-width: 1024px) {
    /* Estilos de la tabla */
    .table {
        width: 95%;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .th, .td {
        font-size: 16px;
        padding: 9px;
    }

    .title {
        font-size: 22px;
    }

    /* Estilos de la barra de búsqueda */
    .inputBusqueda, .selectPais {
        font-size: 15px;
    }

    /* Estilos del contenedor de búsqueda */
    .searchContainer {
        padding: 15px;
        margin-top: 70px;
    }

    /* Botón "Ver todas" */
    .verTodasButton {
        font-size: 15px;
        padding: 9px;
    }
}

/* Para pantallas grandes (escritorios) */
@media (min-width: 1025px) {
    /* Estilos de la tabla */
    .table {
        width: 90%;
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;
    }

    .th, .td {
        font-size: 18px;
        padding: 10px;
    }

    .title {
        font-size: 24px;
    }

    /* Estilos de la barra de búsqueda */
    .inputBusqueda, .selectPais {
        font-size: 16px;
    }

    /* Estilos del contenedor de búsqueda */
    .searchContainer {
        padding: 15px;
        margin-top: 80px;
    }

    /* Botón "Ver todas" */
    .verTodasButton {
        font-size: 16px;
        padding: 10px;
    }
}
