.hero {
  margin-bottom: -40px; /* Ajusta el valor según necesites */
  color: white;
  position: relative;
  text-align: center;
  padding: 70px 20px;
}

.overlay {
  border-radius: 5px;
  background-color: rgba(151, 113, 184, 0.7);/* Fondo morado semi-transparente */
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Centrado vertical y horizontal */
  height: 100%;
  text-align: center; /* Asegura que todo el contenido dentro de overlay esté centrado */
}

.hero h1 {
  border-radius: 5px;
    margin-top: 10px;
    font-size: 24px;
    color: #EEEEEE;
    margin-bottom: 0;
    text-align: center;
    background-color: #3B1E54;
    padding: 10px;
}

.hero p {
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 10px; /* Espacio abajo del párrafo */
  max-width: 600px; /* Limitar el ancho máximo para el párrafo */
  margin-left: auto; 
  margin-right: auto; /* Centramos el párrafo */
}

.button {
    background-color: #EEEEEE;
    color: #341B54;
    margin-top: 0;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.button:hover {
  background-color: #341B54;
    color: #EEEEEE;
    transform: scale(1.10);
}

/* Media Queries para hacerlo responsivo */

/* Para pantallas pequeñas (móviles) */
@media (max-width: 600px) {
  .hero {
    padding: 60px 15px; /* Reducir el padding solo en móviles */
  }

  .hero h1 {
    font-size: 1.5rem; /* Ajustar el tamaño del título en pantallas pequeñas */
  }

  .hero p {
    font-size: 1rem; /* Ajustar el tamaño del texto en pantallas pequeñas */
    max-width: 90%; /* Ajustar el ancho del párrafo para móviles */
  }

  .button {
    padding: 8px; /* Reducir el tamaño del botón en pantallas pequeñas */
  }
}

/* Para pantallas medianas (tabletas) */
@media (max-width: 768px) {
  .hero {
    padding: 80px 20px; /* Ajustar el padding en pantallas medianas */
  }

  .hero h1 {
    font-size: 2rem; /* Ajustar el tamaño del título en pantallas medianas */
  }

  .hero p {
    font-size: 1.1rem; /* Ajustar el tamaño del párrafo en pantallas medianas */
    max-width: 90%; /* Mantener el párrafo centrado en tabletas */
  }

  .button {
    padding: 10px; /* Ajustar tamaño del botón en tabletas */
  }
}

/* Para pantallas grandes (escritorios) */
@media (min-width: 1024px) {
  /* Aquí no modificamos nada porque ya está optimizado para pantallas grandes */
}
